<div class="masthead">

  <h4 class="muted">
    <i class="icon-film" style="vertical-align: middle; margin-bottom:4px;"></i>
    Movie mApp - DIS Task
  </h4>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="http://vsis-www.informatik.uni-hamburg.de/teaching/ss-13/dis/" target="_blank">DIS Website</a></li>
          <li><a href="http://docs.mongodb.org" target="_blank">MongoDB Docs</a></li>
          <li><a href="http://www.10gen.com/reference" target="_blank">MongoDB Cheat Sheets</a></li>
          <li><a href="http://docs.mongodb.org/ecosystem/tutorial/getting-started-with-java-driver/" target="_blank">MongoDB Java API</a></li>
          <li><a href="http://docs.mongodb.org/manual/tutorial/" target="_blank">MongoDB Tutorials</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>

<!-- Jumbotron -->
<div class="jumbotron">
  <h1>The Movie mApp</h1>
  <p class="lead">Unveiling the geographic patterns underlying tweets about movies.</p>
  <a class="btn btn-success" href="http://127.0.0.1:28017/" target="_blank">Show Mongo at http://127.0.0.1:28017/</a>
</div>
